{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Сертификаты</h1>
    <h2>Django</h2>
    <embed src="{% static 'certificates_stepik/stepik-certificate-114288-e8613c6.pdf' %}" type="application/pdf" width="100%" height="300">
    <embed src="{% static 'certificates_stepik/stepik-certificate-174634-3e1ecb8.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-177355-0255644.pdf' %}" type="application/pdf" width="100%" height="500">
    
    <h2>Python</h2>
    <embed src="{% static 'certificates_stepik/stepik-certificate-58852-49a7d5b.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-63085-06f828d.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-68343-f5d596a.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-100707-f548a27.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-114354-aae65b5.pdf' %}" type="application/pdf" width="100%" height="500">
    
    
    
    <h2>SQL, HTML, CSS, JS</h2>
    <embed src="{% static 'certificates_stepik/stepik-certificate-51562-a4eee17.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-120494-9e5dc8d.pdf' %}" type="application/pdf" width="100%" height="500">
    <embed src="{% static 'certificates_stepik/stepik-certificate-135466-6340181.pdf' %}" type="application/pdf" width="100%" height="500">
{% endblock %} 


